@model IEnumerable<DiplomaDataModel.CourseOption.Choice>

@{
    ViewBag.Title = "List of Choices";
}

<h2>@ViewBag.Title</h2>


@section scripts{
    <script src="~/Scripts/Chart.js"></script>
    <script src="~/Scripts/Custom/Reports.js"> </script>
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<hr />
<div ng-app="ChoicesApp" class="container">
    <div ng-controller="ChoicesController">
        <form>
            @Html.DropDownList("YearTerms", ViewBag.Terms as SelectList, new { required = true, ng_model = "selectedYearTerm" })

            @Html.DropDownList("Reports", ViewBag.Reports as SelectList, new { required = true, ng_model = "selectedReportType" })

            <input type="submit" value="Generate Report" class="form-control btn btn-success"
                   ng-click="GenerateReport()" />
        </form>
        <hr/>
        <div class="row">
            <h3>{{choices.type}}</h3>
            <div class="col-md-12">
                <table class="table">
                    <tbody>
                        <tr ng-repeat="o in choices.choiceData">
                            <td>{{o.ChoiceId}}</td>
                            <td>{{o.StudentId}}</td>
                            <td>{{o.StudentFirstName}}</td>
                            <td>{{o.StudentLastName}}</td>
                            <td>{{o.YearTerm.Year}}</td>
                            <td>{{o.YearTerm.Term}}</td>
                            <td>{{o.FirstOption.Title}}</td>
                            <td>{{o.SecondOption.Title}}</td>
                            <td>{{o.ThirdOption.Title}}</td>
                            <td>{{o.FourthOption.Title}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-2 col-md-offset-4">
                <div id="canvas-holder">
                    <canvas id="chart-area" width="500" height="500" />
                </div>
            </div>
        </div>
    </div>
</div>



