@model IEnumerable<DiplomaDataModel.CourseOption.Choice>

@{
    ViewBag.Title = "List of Choices";
}

<h2>@ViewBag.Title</h2>


@section scripts{

    <script src="~/Scripts/Custom/Reports.js"> </script>
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<hr />
<div ng-app="ChoicesApp" class="container">
    <div ng-controller="ChoicesController">
        <form>
            @Html.DropDownList("YearTerms", ViewBag.Terms as SelectList, new { required = true, ng_model = "selectYearTerm" })

            @Html.DropDownList("Reports", ViewBag.Reports as SelectList, new { required = true, ng_model = "selectedReportType" })

            <input type="submit" value="Generate Report" class="form-control btn btn-success"
                   ng-click="GenerateReport()" />
        </form>

        <table class="table">
            <tr ng-repeat="o in choices">
                <td>{{o.ChoicesId}}</td>
                <td>{{o.YearTermId}}</td>
             </tr>
         </table>
    </div>
</div>



