<div class="main_content" data-ng-init="init()">
    <div class="jumbotron">
        <h1>Diploma Options</h1>
        <p>
            Add A Choice
        </p>
        <br />
        <p>
            {{term}} {{yearterm.Year}}
        </p>
    </div>
    <div><p class="error"><font color="red">{{responseData}}</font></p></div>
    <div class="row">
        <div class="col-md-8">
            <form>
                <input type="hidden"  ng-model="userTermId" />
                <table class="table table-bordered table-striped table-condensed">
                    <tr>
                        <td>StudentId:</td>
                        <td>
                            <input type="text" class="form-control"
                                   ng-model="userStudentId" required readonly />
                        </td>
                    </tr>
                    <tr>
                        <td>First Name:</td>
                        <td>
                            <input type="text" class="form-control"
                                   ng-model="userFirstName" required />
                        </td>
                    </tr>
                    <tr>
                        <td>Last Name :</td>
                        <td>
                            <input type="text" class="form-control"
                                   ng-model="userLastName" required />
                        </td>
                    </tr>
                    <tr>
                        <td>First Option Choice:</td>
                        <td>
                            <select name="singleSelect" ng-model="firstOptionId" required >
                                <option value="">Please Select an Option</option>
                                <option ng-repeat="option in options" value="{{option.OptionId}}">{{option.Title}}</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Second Option Choice:</td>
                        <td>
                            <select name="singleSelect" ng-model="secondOptionId" required>
                                <option value="">Please Select an Option</option>
                                <option ng-repeat="option in options" value="{{option.OptionId}}">{{option.Title}}</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Third Option Choice:</td>
                        <td>
                            <select name="singleSelect" ng-model="thirdOptionId" required>
                                <option value="">Please Select an Option</option>
                                <option ng-repeat="option in options" value="{{option.OptionId}}">{{option.Title}}</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Fourth Option Choice:</td>
                        <td>
                            <select name="singleSelect" ng-model="fourthOptionId" required>
                                <option value="">Please Select an Option</option>
                                <option ng-repeat="option in options" value="{{option.OptionId}}">{{option.Title}}</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><input type="button" value="Logout" class="btn btn-info" ng-click="logout()" /></td>
                        <td>
                            <input type="submit" value="Save Choice"
                                   class="form-control btn btn-success"
                                   ng-click="registerUser()" />
                        </td>
                    </tr>
                </table>
            </form>

            <tt>repeatSelect = {{firstOptionId}}</tt><br />
            <tt>repeatSelect = {{secondOptionId}}</tt><br />
            <tt>repeatSelect = {{thirdOptionId}}</tt><br />
            <tt>repeatSelect = {{fourthOptionId}}</tt><br />
            <tt>repeatSelect = {{userTermId}}</tt><br />
        </div>
    </div>
</div>
