<div class="main_content">
    <div class="jumbotron">
        <h1>Diploma Options</h1>
        <p>
            Register
        </p> 
    </div>
    <div><p class="error"><font color="red">{{responseData}}</font></p></div>
    <div><p class="error"><font color="red">{{passwordError}}</font></p></div>
    <div class="row">
        <div class="col-md-8">
                <form name="registrationForm">                   
                        <table class="table table-bordered table-striped table-condensed">
                            <tr>
                                <td>Username:</td>
                                <td>
                                        <input type="text" class="form-control" name="userRegistrationUsername"
                                               ng-model="userRegistrationUsername" ng-minlength="9" ng-maxlength="9" required />
                                </td>
                            </tr>
                            <tr>
                                <td>Email:</td>
                                <td>
                                    <input type="email" class="form-control" name="userRegistrationEmail"
                                           ng-model="userRegistrationEmail" />
                                </td>
                            </tr>
                            <tr>
                                <td>Password:</td>
                                <td>
                                    <input type="password" class="form-control" name="userRegistrationPassword"
                                           ng-model="userRegistrationPassword" required />
                                </td>
                            </tr>
                            <tr>
                                <td>Confirm Password:</td>
                                <td>
                                    <input type="password" class="form-control" name="userRegistrationConfirmPassword"
                                           ng-model="userRegistrationConfirmPassword" required />
                                </td>
                            </tr>
                            <tr>
                                <td><a href="#/login"<button type="button" class="btn btn-info">Back to Login</button></a></td>
                                <td>
                                    <input type="submit" value="Register"
                                           class="form-control btn btn-success"
                                           ng-click="registerUser()" />
                                </td>
                            </tr>
                        </table>
</form>
            </div>
        </div>
    </div>
